:root {
  --primary-color: #3a86ff;
  --sidebar-bg: rgba(255, 255, 255, 0.05);
  --card-color: rgba(255, 255, 255, 0.1);
  --border-color: rgba(255, 255, 255, 0.2);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --text-color: #ffffff;
  --text-color-dark: #222222;
  --background-color: #0f2027;
}

[data-theme="light"] {
  --sidebar-bg: rgba(0, 0, 0, 0.05);
  --card-color: rgba(0, 0, 0, 0.1);
  --border-color: rgba(0, 0, 0, 0.2);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --text-color: #222222;
  --text-color-dark: #ffffff;
  --background-color: #f0f2f5;
}
